//COLORS
$brand-color: #0099ef;
//FONTS
$font-family: "Avenir Next",
sans-serif;
$block-border-radius: 40px;
$primary-font-family: "Monserrat",
sans-serif;
$secondary-font-family: "Work Sans",
sans-serif;
//LAYOUT
$max-container-width: 1200px;